@model PrintumCommerce.Models.Access.pRO_hsEG_cOMPO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>pRO_hsEG_cOMPO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C2Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C2Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C2cOMPONENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C2cOMPONENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C2pORCEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C2pORCEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C2nOcAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C2nOcAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_hsEG_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_hsEG_Codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
