@model PrintumCommerce.Models.Access.pRO_hsEG

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>pRO_hsEG</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Producto.Descripción)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Producto.Descripción)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C1nOMBRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C1nOMBRE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C1sINONIMOS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C1sINONIMOS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C1fXqUIMICA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C1fXqUIMICA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C1nOUN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C1nOUN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C1iDpROVEE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C1iDpROVEE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C3rIESTOsALUD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C3rIESTOsALUD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C3iNHALACION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C3iNHALACION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C3iNGESTION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C3iNGESTION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C3cONTACpIEL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C3cONTACpIEL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C3cONTACoJOS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C3cONTACoJOS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C4iNHALACION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C4iNHALACION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C4iNGESTION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C4iNGESTION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C4cONTACpIEL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C4cONTACpIEL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C4cONTACoJOS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C4cONTACoJOS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C5piNFLAMACION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C5piNFLAMACION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C5tEMaUTOiGNICION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C5tEMaUTOiGNICION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C5lIMITiNFLAMA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C5lIMITiNFLAMA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C5pELIiNCENeXPLO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C5pELIiNCENeXPLO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C5mEDIeXTINCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C5mEDIeXTINCION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C5pROcOMBUSTION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C5pROcOMBUSTION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C5pRECAUCIONES)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C5pRECAUCIONES)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C5iNTRUCcONTRAfIRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C5iNTRUCcONTRAfIRE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C6mEDIvERDITO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C6mEDIvERDITO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C7mANEJO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C7mANEJO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C7aLMACENAMIENTO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C7aLMACENAMIENTO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C8cONTROLiNG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C8cONTROLiNG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C9aPARIENCIA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C9aPARIENCIA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C9vALOR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C9vALOR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C9eSTADOfISICO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C9eSTADOfISICO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C9gRAVEDAD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C9gRAVEDAD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C9pUNTOeBULLI)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C9pUNTOeBULLI)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C9pUNTOfUSION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C9pUNTOfUSION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C9dENSIDAD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C9dENSIDAD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C9vISCOSIDAD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C9vISCOSIDAD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C9pH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C9pH)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C9sOLUBILIDAD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C9sOLUBILIDAD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C10eSTABILIquIMICA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C10eSTABILIquIMICA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C10aeVITAR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C10aeVITAR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C10iNCOMPATIBILIDAD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C10iNCOMPATIBILIDAD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C10pRPpELIxdESCOM)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C10pRPpELIxdESCOM)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C10pOLIMERIZACION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C10pOLIMERIZACION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C11iNFOtOXICOLOGICA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C11iNFOtOXICOLOGICA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C12iNFOeCOLOGICA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C12iNFOeCOLOGICA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C13dISPOSICION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C13dISPOSICION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C14iNFOtRANSPORTE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C14iNFOtRANSPORTE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C15iNFOrEGLAMENTA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C15iNFOrEGLAMENTA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C16nFPA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C16nFPA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C16pICT1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C16pICT1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.C16pICT2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.C16pICT2)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
