@model Tuple<List<PrintumCommerce.Models.Access.pRO_hsEG>, List<PrintumCommerce.Models.Access.pRO_hsEG_cOMPO>, List < PrintumCommerce.Models.Access.pRO_hsEG_ePP>, List<PrintumCommerce.Models.Access.tAUX_EPP>>

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

<paragraph style="font-family:Helvetica;font-size:18;font-style:italic;">
    <chunk red="255" green="0" blue="0"> </chunk>
</paragraph>

@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="10;8;20;10" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"></chunk></cell>
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center"></cell>
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Left"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> Identificacion del producto</chunk> </cell>
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"></chunk></cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="0" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Código</chunk>
            </cell>
            <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">nOMBRE</chunk>
            </cell>
            <cell borderwidth="0" width="25%" left="false" right="false" top="false" bottom="true">
                <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white"> @Html.DisplayFor(modelItem => item.C1nOMBRE) </chunk>
            </cell>

        </row>
        <row background-color="#dddddd" borderwidth="0">
            <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white"> nO UN</chunk>
            </cell>
            <cell borderwidth="0" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">@Html.DisplayFor(modelItem => item.Codigo)</chunk>
            </cell>
            <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white">sINONIMOS</chunk>
            </cell>
            <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white"> @Html.DisplayFor(modelItem => item.C1sINONIMOS) </chunk>
            </cell>

        </row>
    </table>
}
@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="10;8" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Formula Quimica</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">Provedor  </chunk>
            </cell>


        </row>
        <row background-color="#dddddd" borderwidth="0">
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white"> @Html.DisplayFor(modelItem => item.C1fXqUIMICA)</chunk>
            </cell>
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">pRiNtUm SAS</chunk>
            </cell>

        </row>
    </table>
}
<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="20;8;8" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> Composicion/Informacion Sobre</chunk> </cell>
        <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center" horizontalalign="Left"> los componentes</chunk></cell>
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center"></cell>


    </row>
    <row background-color="#dddddd" align-content="center">

        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:14;font-weight:bold;align-content:center; " color="white" align="center">Componente</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:14;font-weight:bold;align-content:center; " color="white">%</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:14;font-weight:bold;align-content:center; " color="white"> No Cas</chunk>
        </cell>

    </row>
@foreach (var item in Model.Item2)
{
    <row background-color="#dddddd" borderwidth="0">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">@Html.DisplayFor(modelItem => item.C2cOMPONENTE)</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C2pORCEN)</chunk>
        </cell>
        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:12;font-weight:bold;align-content:center; " color="white"> @Html.DisplayFor(modelItem => item.C2nOcAS) </chunk>
        </cell>

    </row>
}
</table>
@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Identificación de Peligros</chunk></cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">rIESGO</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C3rIESTOsALUD)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Inhalación</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C3iNHALACION)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Ingestión</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C3iNGESTION)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Contacto piel</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C3cONTACpIEL)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">cONTACTO oJOS</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C3cONTACoJOS)</chunk>
            </cell>
        </row>
    </table>
}
@foreach (var item in Model.Item1)
{

    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Primeros Auxilios</chunk></cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Inhalacion</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C4iNHALACION)</chunk>
            </cell>

        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Ingestion</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C4iNGESTION)</chunk>
            </cell>

        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Contacto Piel</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C4cONTACpIEL)</chunk>
            </cell>

        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Contacto Ojos</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C4cONTACoJOS)</chunk>
            </cell>

        </row>
    </table>
}
@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Medidas de lucha contra incendios</chunk></cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Punto de Inflamación</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">>@Html.DisplayFor(modelItem => item.C5piNFLAMACION)</chunk>
            </cell>

        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Temperatura de autoignición</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">>@Html.DisplayFor(modelItem => item.C5tEMaUTOiGNICION)</chunk>
            </cell>

        </row>
        <row background-color="#dddddd" align-content="center">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Peligros de incendio</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">>@Html.DisplayFor(modelItem => item.C5lIMITiNFLAMA)</chunk>
            </cell>
        </row>

        <row background-color="#dddddd" align-content="center">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Limites de inflamabilidad</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">>@Html.DisplayFor(modelItem => item.C5pELIiNCENeXPLO)</chunk>
            </cell>
        </row>

        <row background-color="#dddddd" align-content="center">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Medios de extinción</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">>@Html.DisplayFor(modelItem => item.C5mEDIeXTINCION)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Productos de la combustión</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">>@Html.DisplayFor(modelItem => item.C5pROcOMBUSTION)</chunk>
            </cell>
        </row>

        <row background-color="#dddddd" align-content="center">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Instrucciones contra fuego</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">>@Html.DisplayFor(modelItem => item.C5iNTRUCcONTRAfIRE)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Precauciones</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">>@Html.DisplayFor(modelItem => item.C5pRECAUCIONES)</chunk>
            </cell>
        </row>
    </table>
}
@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Medidas en caso de vertigo accidental</chunk></cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C6mEDIvERDITO)</chunk>
            </cell>

        </row>
    </table>
}
@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Manejo y almacenamiento</chunk></cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Manejo</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C7mANEJO)</chunk>
            </cell>

        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">Almacenaje</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C7aLMACENAMIENTO)</chunk>
            </cell>

        </row>
    </table>}

    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Controles de Exposición/Proteccion Personal</chunk></cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">cONTROLES DE INGENIERÍA</chunk>
            </cell>
@foreach (var item in Model.Item1)
{
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C8cONTROLiNG)</chunk>
            </cell>
}
        </row>
    </table>
@{
    int a60 = 0;
    int fi = 1;
    foreach (var item in Model.Item3)
    {
        int a100 = 0;
        if (item.C8pROTECCION != null)
        {

    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;15;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">  Equipo Tecnico </chunk> </cell>
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left">- Hojas de Seguridad -  </chunk></cell>
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> Proteccion Personal</chunk> </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">pROTECCIÓN</chunk>
            </cell>
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">ePP</chunk>
            </cell>
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">mASINFO</chunk>
            </cell>
        </row>
    <row background-color="#dddddd" align-content="center">
    <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
        <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C8pROTECCION)</chunk>
    </cell>
        @{
            int a99 = 0;
            int fe = 1;
            int a10 = 0;
            int a11 = 0;
            String[] words1 = new string[10];
            string[] words2 = new string[10];
            string[] Letter = new string[10];
            string[] Letter6 = new string[10];

            int[] cuenta = new int[40];
            foreach (var item19 in Model.Item4)
            {
                char[] delimiterChars = { ' ', ';', '\t' };
                words1 = item.c8ePP.Split(delimiterChars);

            }
            foreach (var item21 in Model.Item4)
            {

                cuenta[a11] = item21.nO;
                words2[a11] = cuenta[a11].ToString();
                a11++;
            }
            foreach (var item1 in Model.Item4)
            {
                int catgry = 0;
                string[] words = { };
                char[] delimiterChars = { ' ', ';', '\t' };
                words = item.c8ePP.Split(delimiterChars);

                if (words.Length > 1)
                {
                    bool Exis = false;
                    int entra = 0;
                    string[] Letter4 = new string[10];

                    foreach (var item10 in Model.Item4)
                    {
                        int pos = Array.IndexOf(Letter, item10.nOMBREhS);

                        if (Array.IndexOf(words2, words1[a10]) > -1 && !(pos > -1))
                        {
                            Letter[a100] = item10.nOMBREhS;
                            Letter4[a100] = item10.nOMBREhS;
                            a100++;
                        }
                        if (a10 < words1.Length - 1 )
                        {
                            a10++;
                        }
                        else
                        {
                            a10 = 0;
                        }
                    }
                    if (fi != a60)
                    {
                    <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                        <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">
 
                                @if (fi != a60)
                                {
                                    foreach (var item10 in Letter4)
                                    {
                                        if (!(String.IsNullOrEmpty(item10)) && (a60 != fi))
                                        {
                                            @Html.DisplayFor(modelItem => item10)

                                            fi++;
                                        }
                                        @Html.Raw(" ")
                                    }
                                }
                   
                        </chunk>
                    </cell>
                    }
                    fi = a60;
                }
                else
                {

                    if (!(String.IsNullOrEmpty(words[a10])))
                    {
                        catgry = Convert.ToInt32(words[a10]);
                        if (item1.nO == catgry)
                        {
                            int pos = Array.IndexOf(Letter, item1.nOMBREhS);
                            if (!(pos > -1))
                            {
                                Letter[a100] = item1.nOMBREhS;
                                Letter6[a100] = item1.nOMBREhS;
                                a100++;
                            }
                        }
                    }
                }
            }
            if (fe != a99)
            {
            <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">
                    @if (fe != a99)
                    {
                    foreach (var item10 in Letter6)
                    {
                                if (!(String.IsNullOrEmpty(item10)))
                                {
                                    @Html.DisplayFor(modelItem => item10)
                                    fe++;
                                }
                                @Html.Raw(" ")
                        }
                    }
                </chunk>
            </cell>
            fe = a99;

                }
        }

        <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
            <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.c8mASiNFO)</chunk>
        </cell>
    </row>

</table>

                                }
                            }
}



@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Propiedades físicas y quimicas</chunk></cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">aPARIENCIA</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C9aPARIENCIA)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">eSTADO fÍSICO</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C9eSTADOfISICO)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">gRAVEDAD</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C9gRAVEDAD)</chunk>
            </cell>
            
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">p eBULLICION</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C9pUNTOeBULLI)</chunk>
            </cell>

        </row>
        <row background-color="#dddddd" align-content="center">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">pUNTO fUNSION</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C9pUNTOfUSION)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">dENSIDAD</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C9dENSIDAD)</chunk>
            </cell>

        </row>
        <row background-color="#dddddd" align-content="center">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">vISCOSIDAD</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C9vISCOSIDAD)</chunk>
            </cell>


        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">pH</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C9pH)</chunk>
            </cell>

        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">sOLUBILIDAD</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C9sOLUBILIDAD)</chunk>
            </cell>

</row>
    </table>
}
@{
    string a = "";
    foreach (var item in Model.Item1)
    {
<table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
    <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
        <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
        <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> Propiedades físicas y quimicas</chunk></cell>
    </row>
    <row background-color="#dddddd" align-content="center">
        @{
            if (!(String.IsNullOrEmpty(item.C16pICT1)))
            {
                <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                    <image height="50px" width="20%" url="@Context.Server.MapPath("~/Content/images/" + @Html.DisplayFor(modelItem => item.C16pICT1))" />
                </cell>
            }
            if (!(String.IsNullOrEmpty(item.C16nFPA)))
            {
                <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                    <image height="50px" width="20%" url="@Context.Server.MapPath("~/Content/images/" + @Html.DisplayFor(modelItem => item.C16nFPA))" />
                </cell>
            }
            if (!(String.IsNullOrEmpty(item.C16pICT2)))
            {
            <cell borderwidth="0" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <image height="50px" width="20%" url="@Context.Server.MapPath("~/Content/images/" + @Html.DisplayFor(modelItem => item.C16pICT2))" />
            </cell>
            }

        }
    </row>
</table>
        }
    }
    @foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="8;20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Right"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center"> </chunk> </cell>
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> eSTABILIDAD Y rEACTIVIDAD</chunk></cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">eSTABILIDAD qUIMICA</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C10eSTABILIquIMICA)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">cONDICIONES A eVITAR</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C10aeVITAR)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">iNCOMPATIBILIDAD qUIMICA</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C10iNCOMPATIBILIDAD)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">pRO pELIGROSOS X</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C10pRPpELIxdESCOM)</chunk>
            </cell>
        </row>
        <row background-color="#dddddd" align-content="center">
            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">pOLIMERIZACIÓN pELIGROSA</chunk>
            </cell>
            <cell borderwidth="1" width="50%" left="true" right="true" top="true" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white">@Html.DisplayFor(modelItem => item.C10pOLIMERIZACION)</chunk>
            </cell>
        </row>
    </table>
}
@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left">  iNFORMACIÓN tOXOLOGICA    </chunk>   </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">@Html.DisplayFor(modelItem => item.C11iNFOtOXICOLOGICA)</chunk>
            </cell>
        </row>
    </table>
}
@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> iNFORMACIÓN eCOLOGÍCA</chunk>       </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">@Html.DisplayFor(modelItem => item.C12iNFOeCOLOGICA)</chunk>
            </cell>
        </row>
    </table>
}
@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> dISPOSICION DE LOS pRODUCTOS</chunk>        </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">@Html.DisplayFor(modelItem => item.C13dISPOSICION)</chunk>
            </cell>
        </row>
    </table>
}
@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> iNFORMACIÓN DE TRANSPORTE </chunk>       </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">@Html.DisplayFor(modelItem => item.C14iNFOtRANSPORTE)</chunk>
            </cell>
        </row>
    </table>
}
@foreach (var item in Model.Item1)
{
    <table width="100%" cellpadding="1.0" cellspacing="0.5" backgroundcolor="#dd2d27" widths="20" borderwidth="1" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="0">
        <row background-color="#dddddd" align-content="center" widths="10;10;10;10" borderwidth="1">
            <cell borderwidth="1"><chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" horizontalalign="Left"> iNFORMACIPÓN DE rEGLAMENTACIÓN</chunk>       </cell>
        </row>
        <row background-color="#dddddd" align-content="center">

            <cell borderwidth="1" vertical-align="top" left="false" right="false" top="false" bottom="true" horizontalalign="Center">
                <chunk style="font-size:10;font-weight:bold;align-content:center; " color="white" align="center">@Html.DisplayFor(modelItem => item.C15iNFOrEGLAMENTA)</chunk>
            </cell>
        </row>
    </table>
}


<newline />