@model PrintumCommerce.Models.Access.PRO3_Propiedades_de_Impresión

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PRO3_Propiedades_de_Impresión</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idCode)

        <div class="form-group">
            @Html.LabelFor(model => model.Cod_PRO, "Cod_PRO", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Cod_PRO", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cod_PRO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.En_máquina_Imprimibilidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.En_máquina_Imprimibilidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.En_máquina_Imprimibilidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.En_máquina_Secado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.En_máquina_Secado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.En_máquina_Secado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.En_máquina_Limpieza, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.En_máquina_Limpieza, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.En_máquina_Limpieza, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.En_Seco_Brillo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.En_Seco_Brillo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.En_Seco_Brillo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.En_Seco_Resistencia_al_Roce_en_Húmedo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.En_Seco_Resistencia_al_Roce_en_Húmedo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.En_Seco_Resistencia_al_Roce_en_Húmedo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.En_Seco_Resistencia_al_Roce_en_Seco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.En_Seco_Resistencia_al_Roce_en_Seco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.En_Seco_Resistencia_al_Roce_en_Seco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.En_Seco_Resistencia_a_Químicos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.En_Seco_Resistencia_a_Químicos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.En_Seco_Resistencia_a_Químicos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.En_Seco_Resistencia_a_la_Luz___Amarillamiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.En_Seco_Resistencia_a_la_Luz___Amarillamiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.En_Seco_Resistencia_a_la_Luz___Amarillamiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.En_Seco_Resistencia_al_Calor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.En_Seco_Resistencia_al_Calor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.En_Seco_Resistencia_al_Calor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.En_Seco_Nivelación, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.En_Seco_Nivelación, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.En_Seco_Nivelación, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Procesamiento_Estampado_al_Calor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Procesamiento_Estampado_al_Calor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Procesamiento_Estampado_al_Calor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Procesamiento_Pegabilidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Procesamiento_Pegabilidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Procesamiento_Pegabilidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Procesamiento_Transferencia_Térmica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Procesamiento_Transferencia_Térmica, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Procesamiento_Transferencia_Térmica, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Procesamiento_Impresión_Láser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Procesamiento_Impresión_Láser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Procesamiento_Impresión_Láser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
