@model PrintumCommerce.Models.Access.Pro_Presentacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pro_Presentacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pro_Tiempo.cod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_Tiempo.cod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Descripción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Descripción)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_PROVEEDOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_PROVEEDOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Presentacion_Kg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presentacion_Kg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidad_Medida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad_Medida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_KG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_KG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cOSTOpRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cOSTOpRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cOSiMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cOSiMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maxi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maxi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Presentacion_Pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presentacion_Pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidad_Medida_Pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad_Medida_Pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Presentacion_Kg_pri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presentacion_Kg_pri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cLSiNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cLSiNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_NFPA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_NFPA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_NFPA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_NFPA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_NFPA3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_NFPA3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_NFPA4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_NFPA4)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cod_Producto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
