@model IEnumerable<PrintumCommerce.Models.Access.Pro_Presentacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Tiempo.cod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Descripción)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COD_PROVEEDOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.D1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.D2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presentacion_Kg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unidad_Medida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_KG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cOSTOpRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cOSiMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maxi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mini)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presentacion_Pro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unidad_Medida_Pro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presentacion_Kg_pri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cLSiNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R_NFPA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R_NFPA2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R_NFPA3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R_NFPA4)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Tiempo.cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Descripción)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COD_PROVEEDOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.D1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.D2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presentacion_Kg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unidad_Medida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_KG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cOSTOpRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cOSiMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maxi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mini)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presentacion_Pro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unidad_Medida_Pro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presentacion_Kg_pri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cLSiNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_NFPA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_NFPA2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_NFPA3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_NFPA4)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cod_Producto }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cod_Producto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cod_Producto })
        </td>
    </tr>
}

</table>
