@model IEnumerable<PrintumCommerce.Models.Access.PRO6_Recomendaciones_de_Procesamiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRO1_Productos.COD_PRODUCTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Informacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRO1_Productos.COD_PRODUCTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Informacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCode })
        </td>
    </tr>
}

</table>
