@model PrintumCommerce.Models.Access.tAUX_EPP

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tAUX_EPP</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.pOP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pOP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nOMBREhS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nOMBREhS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tPROTECCCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tPROTECCCION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dETALLEePP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dETALLEePP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.iNFOa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.iNFOa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nORMAT)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nORMAT)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.uSO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.uSO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cUIDADOSE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cUIDADOSE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cONxrEMPLA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cONxrEMPLA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.aLMACENAMIENTO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.aLMACENAMIENTO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.lIMPIEZA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.lIMPIEZA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.oBLIGApARA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.oBLIGApARA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.rEVISION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rEVISION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IEPP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IEPP)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.nO }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
